<ul class="nav navbar-nav">
  
   <li>
    <%= link_to "new item", "" %>
   </li>
 
  
  <li>
    <%= link_to "items", items_path %>
  </li> 
</ul>

<ul class="nav navbar-nav navbar-right">
  
    <li>
      <%= link_to "Log Out", "", method: "delete" %>
    </li>
  
    <li><%= link_to "Sign Up", "" %></li>
    <li><%= link_to "Log In", "" %></li>
  
</ul>