<%= form_for(item) do |item| %>
  <div class="form-group">
  	<%= item.label :name %><br>
  	<%= item.text_field :name, class: "form-control" %>
  </div>
    <div class="form-group">
  	<%= item.label :partno, "Part no:" %><br>
  	<%= item.text_field :partno, class: "form-control" %>
  </div>
    <div class="form-group">
  	<%= item.label :quantity %><br>
  	<%= item.number_field :quantity, class: "form-control" %>
  </div>
    <div class="form-group">
  	<%= item.label :price %><br>
  	<%= item.number_field :price, class: "form-control" %>
  </div>
  <%= item.submit "Create Item", class: "btn btn-primary" %>
<% end %>