<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<div class="col-sm-6 col-md-4">
  	  <div class="thumbnail">
  	  	<%= image_tag "spare.jpg" %>
  	  	<div class="caption">
  	  	  <h2><strong><%= @item.name %></strong></h2>
  	  	  <p><strong>Part no:</strong> <%= @item.partno %></p>
  	  	  <p><strong>Quantity Available:</strong> <%= @item.quantity %></p>
  	  	  <p><strong>Selling Price:</strong> <%= @item.price %></p>
  	  	</div>
  	  </div>
  	</div>
  </div>
</div>