<!DOCTYPE html>
<html>
  <head>
    <title>AlexiStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render partial: 'shared/navbar' %>

  	<div class="container">
  	  
  	  <%= render partial: 'shared/alerts' %>

  	  <div class="row">
  	  	
  	  	<div class="col-xs-12 co-sm-2 col-md-2 col-lg-2">
  	  	  <%= render partial: 'shared/sidebar' %>
  	  	</div>

  	  	<div class="col-xs-12 co-sm-10 col-md-10 col-lg-10">
  	  	   <%= yield %>
  	  	</div>

  	  </div>
  	 

  	</div>
    
  </body>
</html>
